.task{
    background: #f9f9f9;
    margin: 10px;
    cursor: pointer;
    padding: 10px 15px;
}
.task.completed{
    border-left: 10px solid #4CAF50;
}
.task h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}